* {
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
}

body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.test-area {
    place-items: center;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
}

.onoffButton {
    width: 150px;
    background-color: black;
    border: 3px;
    border-color: #00ff91;
    color: #00ff91;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#visualiser {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #262626;
}

#canvas1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

#audio1 {
    width: 50%;
    margin: 50px auto;
    display: block;
}

.bpmContainer {
    width: 300px;
    height: 30vh;
    background-color: black;
    border: 3px;
    border-color: #00ff91;
    color: #00ff91;
    text-align: center;
}

.bpmSlider {
    width: 150px;
    height: 28px;
    background-color: black;
    border: 3px;
    border-color: #00ff91;
    color: #00ff91;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.tempoSlider {
    width: 150px;
    height: 90px;
    background-color: black;
    border: 3px;
    border-color: #00ff91;
    color: #00ff91;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.tempoSliderContainer {
    width: 150px;
    display: flex;
}

.slider {
    -web-appearance: none;
    appearance: none;
    background: #00ff91;
    outline: black;
    transition: .2s;
    opacity: .7;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    opacity: 1;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: white;
    opacity: 1;
    cursor: pointer;
}

